<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Collaborative Collections{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">    </head>
    <body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-text" id="status">No Events</span>
        <button class="btn btn-outline-default" id="version">No changes from other users</button>
        <button class="btn btn-outline-default" id="publish">Publish</button>
    </nav>

        <div class="container">
        {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
